*.pkl filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
reports/** filter=lfs diff=lfs merge=lfs -text
lightning_logs/** filter=lfs diff=lfs merge=lfs -text
catboost_info/** filter=lfs diff=lfs merge=lfs -text
